.p-button {
  display: block;
  margin: 0 auto;
}

img {
  filter: blur(1.5px);
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 822px;
}

h1 {
  font-family: Georgia, sans-serif;
  font-size: 5em;
  letter-spacing: -2px;
  color: #1e4479;
}
