::ng-deep .p-card {
  background-color: #304562;

  .p-card-content {
    padding: 0;
  }

  .p-card-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

:host {
  .mine {
    ::ng-deep .p-card {
      background-color: #1e4479;
    }
  }
}
