<p-card [ngClass]="{ mine: mine }">
  <!-- <ng-template pTemplate="header" class="p-card-title">
  </ng-template> -->
  <div class="p-card-title">
    <p-avatar
      icon="pi pi-user"
      *ngIf="!avatarUrl"
      size="large"
      shape="circle"
      [style]="{ 'background-color': '#64B5F6', color: '#ffffff' }"
    ></p-avatar>
    <p-avatar
      [image]="avatarUrl"
      size="large"
      shape="circle"
      *ngIf="avatarUrl"
    ></p-avatar>
    {{ name }}
  </div>

  {{ message }}
  <!-- <ng-template pTemplate="footer"> Footer content here </ng-template> -->
</p-card>
